@media only screen and (min-width: 768px) {
	#userHeight {
		font-wight: bold;
	}

	.question_title {
		width: 100%;
		padding-left: 10px;
		float: left;
		font-weight: bold;
	}

	.answer {
		width: 100%;
		padding-left: 10px;
		float: left;
	}

	.short_container {
		width: 30%;
		padding-right: 10px;
		float: left;
		display: block;
	}

	.long_container {
		width: 60%;
		padding-right: 10px;
		float: left;
		display: block;
		background-color: rgb(227, 227, 227);
	}

	.section_title {
		width: 100%;
		padding-left: 10px;
		float: left;
		font-weight: bold;
		font-size: 20px;
		color: white;
		background-color: rgb(240, 36, 44);
	}

	.section_title2 {
		width: 100%;
		padding-left: 10px;
		padding-right: 10px;
		float: left;
		font-weight: bold;
		font-size: 20px;
		color: white;
		background-color: rgb(240, 36, 44);
	}

	.whole_container {
		width: 90%;
		padding-right: 20px;
		float: left;
		display: block;
		background-color: rgb(227, 227, 227);
	}

	.whole_container_version {
		width: 90%;
		padding-right: 20px;
		float: left;
		display: block;
		background-color: white;
	}

	.short_question {
		width: 30%;
		padding-left: 10px;
		float: left;
		font-weight: bold;
	}

	.short_answer {
		width: 30%;
		padding-left: 10px;
		float: left;
	}

	.long_answer {
		width: 60%;
		padding-left: 10px;
		float: left;
	}

	.long_question {
		width: 60%;
		padding-left: 10px;
		float: left;
		font-weight: bold;
	}

	.community_review_excerpt {
		width: 30%;
		padding-right: 10px;
		padding-top: 15px;
		float: left;
	}

	.excerpt_title {
		width: 100%;
		padding-left: 10px;
		float: left;
		font-weight: bold;
	}

	.excerpt_content {
		width: 100%;
		padding-left: 10px;
		float: left;
		color: #222;
	}
}
@media only screen and (max-width: 768px) {
	#userHeight {
		font-wight: bold;
	}

	.question_title {
		width: 100%;
		padding-left: 10px;
		float: left;
		font-weight: bold;
	}

	.answer {
		width: 100%;
		padding-left: 10px;
		float: left;
	}

	.short_container {
		width: 90%;
		padding-right: 10px;
		float: left;
		display: block;
	}

	.long_container {
		width: 90%;
		padding-right: 10px;
		float: left;
		display: block;
		background-color: rgb(227, 227, 227);
	}

	.section_title {
		width: 100%;
		padding-left: 10px;
		float: left;
		font-weight: bold;
		font-size: 20px;
		color: white;
		background-color: rgb(240, 36, 44);
	}

	.section_title2 {
		width: 100%;
		padding-left: 10px;
		padding-right: 10px;
		float: left;
		font-weight: bold;
		font-size: 20px;
		color: white;
		background-color: rgb(240, 36, 44);
	}

	.whole_container {
		width: 90%;
		padding-right: 20px;
		float: left;
		display: block;
		background-color: rgb(227, 227, 227);
	}

	.whole_container_version {
		width: 90%;
		padding-right: 20px;
		float: left;
		display: block;
		background-color: white;
	}

	.short_question {
		width: 30%;
		padding-left: 10px;
		float: left;
		font-weight: bold;
	}

	.short_answer {
		width: 30%;
		padding-left: 10px;
		float: left;
	}

	.long_answer {
		width: 60%;
		padding-left: 10px;
		float: left;
	}

	.long_question {
		width: 60%;
		padding-left: 10px;
		float: left;
		font-weight: bold;
	}
}