@media only screen and (min-width: 768px) {

	.excerpt_long_container{
		background: white;
		width: 66%;
		padding-right: 10px;
		padding-left: 10px;
		display: block;
		float: left;
		color:black;
	}

	.excerpt_short_container{
		background-color: rgb(240, 240, 240);
		width: 33%;
		padding-left: 10px;
		display: block;
		float: left;
		color:black;
	}
	.excerpt_whole_container{
		width: 99%;
		float: left;
		display: block;
		margin-left: 3px;
		background-color: rgb(240, 240, 240);
		outline: 3px solid rgb(190, 190, 190);
	}

	.clip-circle{
		background: #61CE70;
		clip-path: circle(6px);
		display: inline-block;
		height: 12px;
		width: 12px;
	}

	.clip-circle-grey{
		background: darkgray;
		clip-path: circle(6px);
		display: inline-block;
		height: 12px;
		width: 12px;
	}

	.circle_containter{
		width: 30%;
		margin-left: 10px;
		padding-top: 10px;
		float: left;
		display: block;
	}

	.question_title_no_padding{
		width: 100%;
		flex: 1;
		display: inline-block;
		float: left;
		color: black;
		font-weight: bold;
	}

	.section_title {
		width: 100%;
		padding-left: 10px;
		float: left;
		font-weight: bold;
		font-size: 20px;
		color: white;
		background-color: rgb(240, 36, 44);
	}

	.question_title {
		width: 100%;
		padding-left: 10px;
		flex: 1;
		display: inline-block;
		float: left;
		color: black;
		font-weight: bold;
	}

	.answer {
		width: 100%;
		padding-left: 10px;
		float: left;
	}

	.short_container {
		width: 30%;
		padding-right: 10px;
		padding-left: 10px;
		display: block;
		float: left;
		height: 100%;
		color:black;
		background-color: rgb(240, 240, 240);
	}

	.short_container_no_float{
		width: 30%;
		padding-right: 10px;
		padding-left: 10px;
		display: block;
		height: 100%;
		color:black;
		background-color: rgb(240, 240, 240);
	}

	.long_container {
		width: 60%;
		padding-right: 10px;
		float: left;
		display: block;
		background-color: white;
	}

	.whole_container {
		width: 90%;
		padding-right: 20px;
		margin-top: 10px;
		float: left;
		display: block;
		background-color: rgb(240, 240, 240);
	}

	.whole_container_flex {
		width: 90%;
		padding-right: 20px;
		margin-top: 10px;
		float: left;
		display: flex;
		background-color: rgb(240, 240, 240);
	}

	.whole_container_justified {
		width: 90%;
		padding-top: 10px;
		margin-top: 10px;
		float: left;
		display: flex;
		flex-wrap: wrap;
		justify-content: center;
		background-color: rgb(240, 240, 240);
	}

	.whole_container_version {
		width: 90%;
		padding-right: 20px;
		float: left;
		display: table;
		background-color: white;
	}

}
@media only screen and (max-width: 768px) {
	.excerpt_long_container{
		background: white;
		width: 66%;
		padding-right: 10px;
		padding-left: 10px;
		display: block;
		float: left;
		color:black;
	}

	.excerpt_short_container{
		background-color: rgb(240, 240, 240);
		width: 33%;
		padding-left: 10px;
		display: block;
		float: left;
		color:black;
	}
	.excerpt_whole_container{
		width: 99%;
		float: left;
		display: block;
		margin-left: 3px;
		background-color: rgb(240, 240, 240);
		outline: 3px solid rgb(190, 190, 190);
	}

	.clip-circle{
		background: #61CE70;
		clip-path: circle(6px);
		display: inline-block;
		height: 12px;
		width: 12px;
	}

	.clip-circle-grey{
		background: darkgray;
		clip-path: circle(6px);
		display: inline-block;
		height: 12px;
		width: 12px;
	}

	.circle_containter{
		width: 30%;
		margin-left: 10px;
		padding-top: 10px;
		float: left;
		display: block;
	}

	.question_title_no_padding{
		width: 100%;
		flex: 1;
		display: inline-block;
		float: left;
		color: black;
		font-weight: bold;
	}

	.question_title {
		width: 100%;
		padding-left: 10px;
		float: left;
		color: black;
		font-weight: bold;
	}

	.section_title {
		width: 100%;
		padding-left: 10px;
		float: left;
		font-weight: bold;
		font-size: 20px;
		color: white;
		background-color: rgb(240, 36, 44);
	}

	.answer {
		width: 100%;
		padding-left: 10px;
		float: left;
	}

	.short_container {
		width: 90%;
		padding-right: 10px;
		float: left;
		display: block;
	}
	.short_container_no_float{
		width: 30%;
		padding-right: 10px;
		padding-left: 10px;
		display: block;
		height: 100%;
		color:black;
		background-color: rgb(240, 240, 240);
	}

	.long_container {
		width: 90%;
		padding-right: 10px;
		float: left;
		display: block;
		background-color: white;
	}

	.whole_container {
		width: 90%;
		padding-right: 20px;
		margin-bottom: 10px;
		float: left;
		display: block;
		background-color: white;
	}

	.whole_container_flex {
		width: 90%;
		padding-right: 20px;
		margin-top: 10px;
		margin-bottom: 10px;
		float: left;
		display: flex;
		background-color: rgb(240, 240, 240);
	}
	.whole_container_justified {
		width: 90%;
		padding-top: 10px;
		margin-top: 10px;
		float: left;
		display: flex;
		flex-wrap: wrap;
		justify-content: center;
		background-color: rgb(240, 240, 240);
	}

	.whole_container_version {
		width: 90%;
		padding-right: 20px;
		float: left;
		display: block;
		background-color: white;
	}

	
}