.community-reviews-display-title {
    text-align: center;
}

.community-reviews-display-filter {
    text-align: center;
}

.community-reviews-number-boxes {
    display: grid;
    grid-template-columns: 50% 50%;
}

.community-reviews-number-box-left {
    text-align: left;
}

.community-reviews-number-box-right {
    text-align: right;
}

.community-reviews-display-number-box {
    appearance: none;
    height: 10px;
    width: 80px;
    margin: 0 20%;
    font-size: 15px;
    text-align: center;
}

#min_year,
#max_year {
    width: 110px;
}

input[type="range"] {
    appearance: none;
    height: 2px;
    width: 24%;
    position: absolute;
    left: 3%;
    background-color: #C6C6C6;
}

.community-reviews-display-slider {
    padding: 10px;
}

select {
    width: 80%;
}

#community-reviews-display-slider-min-length,
#community-reviews-display-slider-min-year,
#community-reviews-display-slider-min-height,
#community-reviews-display-slider-min-weight {
    height: 0;
    z-index: 1;
}

#community-reviews-display-submit {
    margin: 10px;
}

.community_review_excerpt {
    width: 30%;
    padding-right: 10px;
    padding-top: 15px;
    float: left;
}

.excerpt_title {
    width: 100%;
    padding-left: 10px;
    float: left;
    font-weight: bold;
}

.community_review_postdate {
    width: 100%;
    padding-left: 10px;
    float: left;
    font-size: smaller;
    color: #333;
}

.excerpt_content {
    width: 100%;
    padding-left: 10px;
    float: left;
    color: #222;
}

@media screen and (max-width: 400px) {
    .community-reviews-display {
        display: grid;
        grid-template-columns: 100%;
        text-align: center;
    }

    input[type="range"] {
        width: 80%;
        left: 10%;
    }

    .community-reviews-display-filter {
        display: none;
        background-color: #D6D6D6;
        position: absolute;
        height: fit-content;
        top: 0px;
        right: 0px;
        bottom: 0px;
        left: 0px;
    }

    #min_year {
        margin-right: 0%;
    }

    #max_year {
        margin-left: 0%;
    }
}

@media screen and (min-width: 400px) {
    .community-reviews-display {
        display: grid;
        grid-template-columns: 0% 30% 70%;
        text-align:center;
    }

    #community-reviews-display-mobile-button {
        display: none;
    }
}