.community-reviews-display {
    display: grid;
    grid-template-columns: 30% 70%;
}

.community-reviews-display-title {
    text-align: center;
}

.community-reviews-display-filter {
    text-align: center;
}

.community-reviews-number-boxes {
    display: grid;
    grid-template-columns: 50% 50%;
}

.community-reviews-number-box-left {
    text-align: left;
}

.community-reviews-number-box-right {
    text-align: right;
}

.community-reviews-display-number-box {
    appearance: none;
    height: 10px;
    width: 80px;
    margin: 0 20%;
    font-size: 15px;
    text-align: center;
}

input[type="range"] {
    appearance: none;
    height: 2px;
    width: 24%;
    position: absolute;
    left: 3%;
    background-color: #C6C6C6;
}

.community-reviews-display-slider {
    padding: 10px;
}

select {
    width: 80%;
}

#community-reviews-display-slider-min-length,
#community-reviews-display-slider-min-year,
#community-reviews-display-slider-min-height,
#community-reviews-display-slider-min-weight {
    height: 0;
    z-index: 1;
}

#community-reviews-display-submit {
    margin: 10px;
}
@media only screen and (min-width: 800px) {
    .community_review_excerpt {
        width: 45%;
        height: 220px;
        border: 1px solid #C6C6C6;
        border-radius: 5px;
        background-color: #EFEFEF;
        padding-right: 10px;
        padding-top: 15px;
        float: left;
    }
}

@media only screen and (max-width: 800px) {
    .community_review_excerpt {
        width: 100%;
        border: 1px solid #C6C6C6;
        border-radius: 5px;
        background-color: #EFEFEF;
        padding-right: 10px;
        padding-top: 15px;
        float: left;
    }
}

.community_review_excerpt:hover {
    background-color: #C6C6C6;
}

.excerpt_title {
    width: 100%;
    padding-left: 10px;
    float: left;
    font-weight: bold;
}

.community_review_postdate {
    width: 100%;
    padding-left: 10px;
    float: left;
    font-size: smaller;
    color: #333;
}

.excerpt_content {
    width: 100%;
    padding-left: 10px;
    float: left;
    color: #222;
}